# fast-js

:heart_eyes: Writing Fast JavaScript

# env

* platform: OS X 10.12.3. MacBook Pro (13-inch, Late 2016, Four Thunderbolt 3 Ports)
* cpu: 3.3 GHz Intel Core i7
* Node.js: v7.7.1
* v8: 5.5.372.41

# benchmark

<%= benchmark_result %>

# contribute

1. add your test to benchmark dir
1. run $ make benchmark file=benchmark/xxx.js to run the benchmark
1. then send a pr to me, I would add the result to README.md
