# fast-js

:heart_eyes: Writing Fast JavaScript

# env

* platform: OS X 10.10.4
* cpu: 1.4 GHz Intel Core i5
* iojs: v2.3.0
* v8: 4.2.77.20

# benchmark

<%= benchmark_result %>

# contribute

1. add your test to `benchmark` dir
1. run `$ make build` and it will update README.md including new test